[Unit]
Description=Run service-check watchdog

[Service]
Type=oneshot
ExecStart=/opt/service-check-venv/bin/service-check --config /etc/service-check/service-check.ini
