[Unit]
Description=Run service-check watchdog every minute

[Timer]
OnBootSec=1min
OnCalendar=*-*-* *:*:00
AccuracySec=1s
RandomizedDelaySec=30s
FixedRandomDelay=yes
Unit=service-check.service

[Install]
WantedBy=timers.target
